In [7]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/insurance.csv")

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.region.value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [9]:
res = df.groupby("sex").agg({"charges": np.mean})

/var/folders/s2/58_50kks06qg9px9tb2l8c8w0000gp/T/ipykernel_42408/7922187.py:1: FutureWarning: The provided callable <function mean at 0x1047359e0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  res = df.groupby("sex").agg({"charges": np.mean})

In [10]:
res

             charges
sex
female  12569.578844
male    13956.751178